<footer
    style="
    background-color: #FFF;
    position:fixed;
    bottom: 0px;
    text-align: center;
    align-content: center;
    width: 100%;
    opacity: 1;
    background-color: rgba(252, 246, 246, 0.493);
    "
>
    <div class="content-padding">
        <div class="footer-content">
            <p><strong> Copyright &copy; Parmar INC. </strong></p>

            <div style="font-size: 20px;" class="social-media-icons">
                <a style="color: #3b5998;" href="https://www.facebook.com/pddivyesh" onMouseOver="this.style.color='#25d366'"   onMouseOut="this.style.color='#3B5998'"><i class="fab fa-facebook"></i></a>
                <a style="color: #cd486b;" href="https://www.instagram.com/pbdivyesh" onMouseOver="this.style.color='#fccc63'"   onMouseOut="this.style.color='#cd486b'"><i class="fab fa-instagram"></i></a>
                <a style="color: #4c68d7;" href="https://twitter.com/AflaatunTapudo"  onMouseOver="this.style.color='#1dcaff'"   onMouseOut="this.style.color='#4c68d7'"><i class="fab fa-twitter"></i></a>
                <a style="color: #ff6314;" href="https://reddit.com/user/tapu_buoy" onMouseOver="this.style.color='#d7d7d7'"   onMouseOut="this.style.color='#ff6314'"><i class="fab fa-reddit"></i></a>
            </div>
        </div>
    </div>
</footer>