<html>
    <head>
        <% include partials/head.ejs %>
        <% include partials/navbar.ejs %>
    </head>
    <body>
        <div class="row" style="font-family:consolas; font-size:20px;">
            <div class="col-md-4 col-md-offset-4">
                    <p>
                        Hahah You want everything! Don't worry stay tuned for more updates<br/>
                    </p>
                    <!--Facebook-->
                    <div class="form-group"> 
                       Talk to me here <a href="https://www.facebook.com/pddivyesh" style="color: #3B5998; font-size: 40px;" onMouseOver="this.style.color='#25d366'"   onMouseOut="this.style.color='#3B5998'"><i class="fab fa-facebook"></i></a> <br/>
                    </div>
                    <!--Instagram-->
                    <div class="form-group"> 
                       My Stories on Insta  <a href="https://www.instagram.com/pbdivyesh" style="color: #cd486b; font-size: 40px;" onMouseOver="this.style.color='#fccc63'"   onMouseOut="this.style.color='#cd486b'" ><i class="fab fa-instagram"></i></a> or <br/>
                    </div>
                    <!--Twitter-->
                    <div class="form-group"> 
                        Follow me on Twitter <a href="https://twitter.com/AflaatunTapudo" style="color: #4c68d7; font-size: 40px;"  onMouseOver="this.style.color='#1dcaff'"   onMouseOut="this.style.color='#4c68d7'" ><i class="fab fa-twitter"></i></a>
                    </div>
                    <!--Quora-->
                    <div class="form-group"> 
                        Follow me on Twitter <a href="https://www.quora.com/profile/Divyesh-Parmar-3" style="color: #aa2200; font-size: 40px;"  onMouseOver="this.style.color='#333333'"   onMouseOut="this.style.color='#aa2200'" ><i class="fab fa-quora"></i></a>
                    </div>
                    <!--Reddit-->
                    <div class="form-group"> 
                        For all source <a href="https://reddit.com/user/tapu_buoy" style="color: #ff6314; font-size: 40px;"  onMouseOver="this.style.color='#d7d7d7'"   onMouseOut="this.style.color='#ff6314'" ><i class="fab fa-reddit"></i></a>
                    </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
        <% include partials/scripts.ejs %>
    </body>
</html>